// Import Google fonts
@font-face {
  font-family: 'BernierDistressed';
  src: asset-url('bernierdistressed-regular-webfont.ttf') ;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

@font-face {
  font-family: 'Acid';
  src: asset-url('acid.ttf') ;
}
@font-face {
  font-family: 'Bell';
  src: asset-url('Bell-Centennial-Std-Address.ttf') ;
}
// Define fonts for body and headers
$body-font: "Acid", "Helvetica", "sans-serif";
$headers-font: "BernierDistressed", "Helvetica", "sans-serif";
$navbar-font: "BernierDistressed";
$text-font:"bell"
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";}
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

