<div class="dash-wrapper">
  <div class="box-wrapper">
    <div class="grid">
      <div class="pending">
        <h1>Pending bookings</h1>
        <div class="scroll-pending">
          <%= render "pending" %>
        </div>
      </div>
      <div class="ready-to-book">
        <h1>Ready to checkout</h1>
         <div class="scroll-ready">
          <%= render "ready" %>
         </div>
      </div>
      <div class="already-booked">
        <h1>Browse through your past experiences !</h1>
        <div class="scroll-booked">
          <div class="scrapebook-cards">
            <%= render "done" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












