<div class="scrape-pictures">
  <h1>Scrapbook</h1>



  <div class="grid-container">


     <div class="reviews-container">
      <%= render "shared/scrapebook-cards" %>
     </div>

    <div class="item-1"></div>
    <div class="item-2"></div>
    <div class="item-3"></div>
    <div class="item-4"></div>
    <div class="item-5"></div>
    <div class="item-6"></div>
  </div>
</div>
