.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top:-70px;
  height:650px;
}


.map-cards-banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top:6px;
  height:650px;
}

.searchbar {
   border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    border: 3px solid black;
    color:black;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%px;
    position: relative;
}
