.black-button-tumble {
    padding: 4px 21px;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    border: 3px solid black;
    font-family:$navbar-font;
    font-size: 20px;
    border-color: #1D1D1B;
    font-family: BERNIERDistressed;
    color: #1D1D1B;
    opacity: 1;
    &:hover{
      text-decoration: none;
       color:rgba(0,0,0,0.7);
    }
 }
 .black-button-tumble-white{
    padding: 4px 21px;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    border: 3px solid black;
    font-family:$navbar-font;
    font-size: 20px;
    border-color: white;
    font-family: BERNIERDistressed;
    color: white;
    opacity: 1;
    &:hover{
      text-decoration: none;
       color:rgba(0,0,0,0.7);
    }
 }

.white-button-tumble {
    padding: 4px 34px;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    border: 3px solid black;
    font-family:$navbar-font;
    font-size: 25px;
    border-color: white;
    font-family: BERNIERDistressed;
    color: white;
    opacity: 1;
    &:hover{
    text-decoration: none;
    color:rgba(225,225,225,225);
    opacity: 1;
    }
 }

.black-button-tumble-up{
    padding: 0px 6px;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    border: 3px solid black;
    font-family:$navbar-font;
    font-size: 20px;

    color: #a5a59f;
    opacity: 1;
    &:hover{
      text-decoration: none;
      color: #da552f;
    }

}

.view-c{
  text-align: right;
  margin-right:  10px;
  color: #da552f;
    &:hover{
      text-decoration: none;
      color: #da552f;
    }
}

 .for-explore{
  margin-top: 26px;
  color: #da552f;
 }

.tabs-tumble{
        padding: 1px 4px;
    margin-right: 51px;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    border: 3px solid black;
    font-family:$navbar-font;
    font-size: 25px;

    font-family: BERNIERDistressed;
       border-color: #c5c0c0;
    background-color: #cecece;
    font-family: BERNIERDistressed;
    color: #131313;
    opacity: 1;

    &:hover{
    text-decoration: none;
    color:#6f6565;
    opacity: 1;

    }

}
