  .footer {

    background-size: cover;
    background-image: asset-url("footer.png") ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;

    bottom: 0;

    z-index: 1000;
  }
.margin-top {
  height: 200px;
}
.display{
  display: flex;
   justify-content: space-around;
  align-items: center;


}

.contact-us{
  display: inline-block;
  list-style-type: none;

}
.icon {
  color:white;
}

a{
 color:white;
}

p{
 color:white;
   font-family: 'BernierDistressed';

}

.footer-social-icons {
  margin-left: 10px;
}

.footer-social-list {
  margin-bottom: 0px;
}

.logo {
  margin: 0px;
}

.copy-rights {
  margin: 0px;
}
