/* Main navbar */


.normal-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


// .normal-navbar-wagon-right {
//     align-items: center;
//     justify-content: center;
//     display: flex;
// }


.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0),0 1px 0 0 rgba(0,0,0,0);
  background: transparent;
  transition: all 0.3s ease;
  height: 80px;
  width: 100%;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-around !important;
  font-family:$navbar-font;
}

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: center;
}



.banner-logo{
  opacity:0.891;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-top: 22px;

}

.slogen{
   h1 {
    font-size:50px;
    margin-top: 350px;
    opacity: 0.9;

  }

}

.dropdown-menu{
   text-indent: 50px;
  margin-left:10px;
  background-color: rgba(0,0,0,0.6);
      border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  h6:hover  {
    text-decoration:none;
    color:#ff2621;
  }
  a{
    padding: 0;
 color:white;

  }
  a:hover  {
    text-decoration:none;
    color:#ff2621;
  }

}
/* Logo */
.navbar-wagon-brand img {
  height: 85px;
}

.style-nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 20px;
  text-decoration:none;
  color:white;
}
a.monkeypants{
  color:white;
  text-decoration: none;
  margin-left: 60px;
  font-size:20px;
  &:hover {
    color: #ff2621;
  }
}



.display-inline {
  display: inline-block !important;
          margin-top: 49px;

}

.style-navbar{
  color:white;
  padding-bottom: 40px;
  margin-right: 56px;
  .monkeypants {
    color: white;
    :hover{
      text-decoration:none;
      color:#ff2621;
    }
  }

}
/* Right section */


/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #da552f;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;

}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;


}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
#dropdownMenu2{
font-size:20px;
background-color:transparent;
 &:hover {
  color:#ff2621;
  font-size:20px;
  text-decoration: none;
 }
 h6:hover {
text-decoration:none;
 }


a.monkeypants{
    color: white;
    font-size: 20px;
    list-style-type: none;

    text-decoration:none;
    &:hover{
      color:#ff2621;
      text-decoration:none;
    }
}
}

a.navbar-wagon-item.navbar-wagon-link {
  font-size: 16px;
}











