.hot_and_ternding{
      margin-top: -200px;
}

.calendar {
  h2{

    text-align: center;
    font-size: 44px;
    color: black;
    font-weight: 400;
    top: 40%;
    left: 41%;
        width: 72px;
    text-align:center;
    position: absolute;
    background-color:white;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    text-decoration: none;
    mix-blend-mode:luminosity;
    text-align:center;
  }
   .date-style{

    text-align: center;
    font-size: 32px;
    color:white;
    font-weight: 400;
    top: 28%;
    left: 33%;
    text-align:center;
    position: absolute;
    text-decoration: none;
    text-align:center;
  }
   .location-style{

    text-align: center;
    font-size: 67px;
    color:white;
    font-weight: 400;
    top: 7%;
    left: 39%;
    text-align:center;
    position: absolute;
    text-decoration: none;
    text-align:center;
  }
}

.calender-image{

  background-image:linear-gradient(-225deg, rgba(103, 99, 99, 0.9) 0%, rgba(232, 226, 179, 0.1) 90%), url('http://res.cloudinary.com/dccwldzgb/image/upload/c_fill,h_300,w_500/v1551872532/wbgjnhxjidn3yglpqty1.jpg');
  position:absolute;
  background-size:cover;
  width: 521px;
  height: 444px;
  left: 0;
  .calender-hot{
  display: flex;
  justify-content: space-around !important;
}

}

.container-calender {
    width: 70%;
    max-width: 1440px;
    height: 444px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    background-color: #222220;
    margin-top: 20px;
    margin-bottom: 60px;
}


.hot_and_ternding h1{
  text-align: center;

}

.centerd{
    position: absolute;
    top: 73%;
    left: 49%;
    transform: translate(-50%,-50%);
}

.calender-description p{
    color: white;
    font-family: 'BernierDistressed';
    position: absolute;
    font-size:27;
    width: 40%;
    text-align: justify;
    text-justify: inter-word;
     top: 37%;
    left: 57%;
    font-family: $text-font;
    line-height: 1.6;
}



// .imageadjust {
//   .calender-image{
//      background-image: linear-gradient(red, yellow);
// }
// }
