.calendar {
  h1{
    margin-top: 10px;
    margin-bottom: 48px;
    text-align: center;
    font-size: 50px;
    color: #1D1D1B;
    font-weight: 400;
     margin-left: auto;
    margin-right: auto;
    text-align:center;
  }
}



.container-calender {
    width: 70%;
    max-width: 1440px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;

    background-color: #222220;
        margin-top: 20px;
    margin-bottom: 60px;
    position:relative;
}


// .styleimage{
//     position: absolute;
//     vertical-align: top;
// width: 35%;
// }
