.cards-container {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-color: rgba(blue,0);

}
#map {
  flex: 0 0 450px;
  height: 100vh !important;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;

}

.hide {
  opacity: 0;
}
