.cards-container {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-color: rgba(blue,0);

}

.hide {
  opacity: 0;
}

.modal-body{
  background-color: transparent;

}

#map {
  width: 598px;
  height: 300px;
}

.box {
  width: 1000px;
  height: 600px;
  background-color: red;
}
