.pin {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $red;
  /* The margin on right and left will need to be altered as you alter the width of the card to ensure that the pin is in center*/
  margin: 0px 135px;
  transform: translate(0px, 10px);
}
.scrapebook-card-container {
  width: 300px;
  padding: 0px;
  margin: 15px;
  float: left;
}
.scrapebook-card {
  padding: 20px;
  font-family: "roboto", sans-serif;
  height: 100%;
  background-color: rgba($grey, 0.8);
  color: white;
  border-radius: 5px;
}
.scrapebook-card-heading {
  margin-bottom: 15px;
  font-size: 20px;
}


.scrape-card1 {
  position: absolute;
  top: 127px;
  left: 50px;;
  z-index: 1000;
}

.scrape-card2 {
  top: 120px;
  right: 170px;
  position: absolute;
  z-index: 1000;
}
.scrape-card3 {
  bottom: 110px;
  left: 118px;
  position: absolute;
  z-index: 1000;
}
.scrape-card4 {
     bottom: 61px;
    right: 78px;
    position: absolute;
    z-index: 1000;
}
.scrape-card5 {
     bottom: 546px;
    right: 650px;
    position: absolute;
    z-index: 1000;
}

.scrape-card6 {
  bottom: 230px;
  right: 580px;
  position: absolute;
  z-index: 1000;
}

