.formform {
  .form-control {
    border: 0px solid transparent;
    background-color: transparent;
    box-shadow: 0px 0.1px 0rem rgba(203, 160, 106, 0.8);
    border-bottom: 2px solid  rgba(203, 160, 106, 0.7);
    border-top: 2px solid rgba(203, 160, 106, 0.7) !important;
     border-right: 2px solid rgba(203, 160, 106, 0.7) !important;
      border-left: 2px solid rgba(203, 160, 106, 0.7) !important;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    &:focus {
    box-shadow: 0px 0.1px 0rem rgba(203, 160, 106, 0.8);
    border-bottom: 1px solid  #CBA06A;
    border-top: 1px solid #CBA06A;
    border-radius: 0px;
    background-color: #f2f2f2;
    opacity: 0.7
    }
  }
   // input[type="checkbox"] {
   //      border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;


   // }
}


.form-search-bar
{.form-control {
    border: 0px solid transparent;
    background-color: transparent;
    box-shadow: 0px 0.1px 0rem rgba(203, 160, 106, 0.8);
    border-bottom: 2px solid rgba(125, 125, 125, 0.7);
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    font-size: 14px;
    &:focus {
    box-shadow: 0px 0.1px 0rem rgba(203, 160, 106, 0.8);
    box-shadow: 0px 0.1px 0rem rgba(203, 160, 106, 0.8);
    border-bottom: 2px solid rgba(125, 125, 125, 0.7);
    border-radius: 0px;
    background-color: #f2f2f2;
    opacity: 0.7;
    margin-right:10px;
        padding: 6px 15px;
            font-size: 14px;
    }
  }

}
.search-bar{
background-color: transparent;
border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    border: 0.5px solid black;
    color:#d08e8d;


    font-size:15px;
}
