<div class="cards-container">
  <div class="cards">
      <div class="row">
        <% @activities.each do |activity| %>
          <div class="col-xs-12  col-md-4 col-sm-6 ">
            <div class="card"><%= cl_image_tag(activity.photo, crop: :fill) %>
              <div class="info">
                <h2 ><%=link_to activity.name, activity_path(activity) ,:class => "type"%></h2>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div
  id="map"
  style="width: 800px;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<form action="/activities" method="get">
  <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
  <input type="submit" value="Submit">
</form>

